<div class="container-fluid">

  <!-- Menu -->
  <div class="navigation-wrap bg-light start-header start-style">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
                    <a class="navbar-brand" href="https://front.codes/" target="_blank">
                      TIRUMALAKART
                    </a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" href="#">Home</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" href="#">Fashion</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" href="#p">New Offeres</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2 show">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Products</a>
									<div class="dropdown-menu hide">
                    <a class="dropdown-item" href="#">Bowl</a>
                    <a class="dropdown-item" href="#">Dinnerware</a>
                    <a class="dropdown-item" href="#">Pillow Cover</a>
                    <a class="dropdown-item" href="#">Stone White</a>
                    <a class="dropdown-item" href="#">Face Coverings</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" href="#">Sign in</a>
								</li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
  </div>

  <ul class="banner" style="margin-top:100px;margin-bottom: 50px;">
    <div>
      <span class="banner-header" >Products List</span>
    </div>
    <span class="banner-text">Offeres in  high quality  Face Coverings & Velvet Pillow Cover.</span>
    <ul>
      <a class="btn btn-info btn-outline btn-lg" href="#">Join Now</a>
    </ul>
  </ul>
  <div class="row">
    <div class="col-xs-12 col-md-4 product text-center" *ngFor="let item of products.groups; let i = index" data-toggle="modal" data-target="#myModal" (click)="overlayProduct(item.images, item.name)">
      <div class="itemProdcut text-center row">
        <div class="productname text-center col-xs-12">{{item.name}}</div>
        <div class="col-xs-12 text-center itemImage">
          <img src="{{item.hero.href}}" />
        </div>
        <div class="col-xs-12 text-center itemprice">
          <div *ngIf="item.price">{{item.price.regular | currency}}</div>
          <div *ngIf="item.priceRange">{{item.priceRange.selling.high | currency}}</div>
        </div>
        
      </div>
     
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{selectProductName}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" [attr.data-slide-to]="k" *ngFor="let item of productImages; let k = index" [ngClass]="{'active': k === 0}"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of productImages; let ind = index" [ngClass]="{'active': ind === 0}">
              <img src="{{item.href}}" height="363">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
